:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --primary-blue: #004F9B;
  --secondary-blue: #3399FF;
  --error-color: #FF0000;
  --primary-text-color: #2D4650;
  --border-color: #DFE4E8;
  --color-avatar-border: rgba(27,31,36,0.15);
  --label-font-size: 13px;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--primary-text-color);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h-100vh {
  height: 100vh;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-2 {
  width: 450px;
  padding: 1rem;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-title {
  margin-top: 16px;
  margin-bottom: 50px;
  color: var(--primary-blue);
}

.form-floating>label {
  font-size: var(--label-font-size);
  border: none;
  padding: 1rem 0rem;
}

.form-floating>.form-control {
  padding: 1rem 0;
}

.form-control {
  border: none;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
}

.page-login {
  width: 418px;
}

.btn-bar {
  margin-top: 50px;
}

.error-text {
  color: var(--error-color);
}

.avatar-img {
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--color-avatar-border);
}

.card-tag {
  border: 1px solid;
  padding: 0 7px;
  font-size: 12px;
  border-radius: 15px;
}

.text-blue {
  color: var(--secondary-blue);
}

.fz-14 {
  font-size: 14px;
}